ProIntegracao.Model/Service References/DetranSpWs/SimuladorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://189.36.10.84:8282/SeviceDetran/DetransWSSP/SimuladorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProIntegracao.WCF" />
  <xs:import schemaLocation="http://189.36.10.84:8282/SeviceDetran/DetransWSSP/SimuladorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="abrirAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpfAluno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="abrirAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProIntegracao.WCF" minOccurs="0" name="abrirAulaResult" nillable="true" type="q1:aberturaAula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fecharAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ticket" type="xs:long" />
        <xs:element minOccurs="0" name="Renach" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ModelosAula" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="qtdeInfração" type="xs:int" />
        <xs:element minOccurs="0" name="qtdErroDirecao" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProIntegracao.WCF" minOccurs="0" name="listErros" nillable="true" type="q3:ArrayOferroDirecao" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProIntegracao.WCF" minOccurs="0" name="listInfracoes" nillable="true" type="q4:ArrayOfinfracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fecharAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProIntegracao.WCF" minOccurs="0" name="fecharAulaResult" nillable="true" type="q5:fechamentoAula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirMatricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Renachs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataNascimento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Uf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HoraAula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PSA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirMatriculaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarDadosAgendamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpfAluno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarDadosAgendamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProIntegracao.WCF" minOccurs="0" name="consultarDadosAgendamentoResult" nillable="true" type="q6:candidatoAulaSimulador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idAula" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProIntegracao.WCF" minOccurs="0" name="consultarAulaResult" nillable="true" type="q7:AulaProdesp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarAulaCancelada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idAula" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarAulaCanceladaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProIntegracao.WCF" minOccurs="0" name="consultarAulaCanceladaResult" nillable="true" type="q8:AulaProdesp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>