ProIntegracao.Model/Service References/DetranSpWs/SimuladorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProIntegracao.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProIntegracao.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="aberturaAula">
    <xs:sequence>
      <xs:element minOccurs="0" name="codCf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codCiretran" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpfInstrutor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="erroCod" type="xs:int" />
      <xs:element minOccurs="0" name="erroDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAula" type="xs:int" />
      <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomeCandidato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qtdAulasAberta" type="xs:int" />
      <xs:element minOccurs="0" name="renach" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aberturaAula" nillable="true" type="tns:aberturaAula" />
  <xs:complexType name="ArrayOferroDirecao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="erroDirecao" nillable="true" type="tns:erroDirecao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOferroDirecao" nillable="true" type="tns:ArrayOferroDirecao" />
  <xs:complexType name="erroDirecao">
    <xs:sequence>
      <xs:element minOccurs="0" name="codErro" type="xs:int" />
      <xs:element minOccurs="0" name="quantidade" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="erroDirecao" nillable="true" type="tns:erroDirecao" />
  <xs:complexType name="ArrayOfinfracao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="infracao" nillable="true" type="tns:infracao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfinfracao" nillable="true" type="tns:ArrayOfinfracao" />
  <xs:complexType name="infracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="artigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desdobramento" type="xs:long" />
      <xs:element minOccurs="0" name="quantidade" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="infracao" nillable="true" type="tns:infracao" />
  <xs:complexType name="fechamentoAula">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpfAluno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpfInstrutor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="erroCod" type="xs:int" />
      <xs:element minOccurs="0" name="erroDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAula" type="xs:long" />
      <xs:element minOccurs="0" name="numeroSerie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fechamentoAula" nillable="true" type="tns:fechamentoAula" />
  <xs:complexType name="candidatoAulaSimulador">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codCfc" type="xs:int" />
      <xs:element minOccurs="0" name="codCiretran" type="xs:int" />
      <xs:element minOccurs="0" name="cpfAluno" type="xs:long" />
      <xs:element minOccurs="0" name="descErro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="erro" type="xs:int" />
      <xs:element minOccurs="0" name="nomeAluno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="processo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="renach" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="candidatoAulaSimulador" nillable="true" type="tns:candidatoAulaSimulador" />
  <xs:complexType name="AulaProdesp">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErroCod" type="xs:int" />
      <xs:element minOccurs="0" name="ErroDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpfAluno" type="xs:long" />
      <xs:element minOccurs="0" name="cpfCancelamentoAula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="horarioInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="horarioTermino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAula" type="xs:int" />
      <xs:element minOccurs="0" name="statusAula" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AulaProdesp" nillable="true" type="tns:AulaProdesp" />
</xs:schema>