ProIntegracao.Model/Service References/ReenvioAula/ReenvioAulaAutomatico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReenvioAulaAutomatico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55499/ReenvioAulaAutomatico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55499/ReenvioAulaAutomatico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReenvioAulaAutomatico_ExecutarReenvio_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarReenvio" />
  </wsdl:message>
  <wsdl:message name="IReenvioAulaAutomatico_ExecutarReenvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutarReenvioResponse" />
  </wsdl:message>
  <wsdl:message name="IReenvioAulaAutomatico_EnvioAulaIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:EnvioAulaIntegracao" />
  </wsdl:message>
  <wsdl:message name="IReenvioAulaAutomatico_EnvioAulaIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnvioAulaIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IReenvioAulaAutomatico_CancelarAulaIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarAulaIntegracao" />
  </wsdl:message>
  <wsdl:message name="IReenvioAulaAutomatico_CancelarAulaIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarAulaIntegracaoResponse" />
  </wsdl:message>
  <wsdl:portType name="IReenvioAulaAutomatico">
    <wsdl:operation name="ExecutarReenvio">
      <wsdl:input wsaw:Action="http://tempuri.org/IReenvioAulaAutomatico/ExecutarReenvio" message="tns:IReenvioAulaAutomatico_ExecutarReenvio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReenvioAulaAutomatico/ExecutarReenvioResponse" message="tns:IReenvioAulaAutomatico_ExecutarReenvio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnvioAulaIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IReenvioAulaAutomatico/EnvioAulaIntegracao" message="tns:IReenvioAulaAutomatico_EnvioAulaIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReenvioAulaAutomatico/EnvioAulaIntegracaoResponse" message="tns:IReenvioAulaAutomatico_EnvioAulaIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarAulaIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IReenvioAulaAutomatico/CancelarAulaIntegracao" message="tns:IReenvioAulaAutomatico_CancelarAulaIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReenvioAulaAutomatico/CancelarAulaIntegracaoResponse" message="tns:IReenvioAulaAutomatico_CancelarAulaIntegracao_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReenvioAulaAutomatico" type="tns:IReenvioAulaAutomatico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecutarReenvio">
      <soap:operation soapAction="http://tempuri.org/IReenvioAulaAutomatico/ExecutarReenvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioAulaIntegracao">
      <soap:operation soapAction="http://tempuri.org/IReenvioAulaAutomatico/EnvioAulaIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarAulaIntegracao">
      <soap:operation soapAction="http://tempuri.org/IReenvioAulaAutomatico/CancelarAulaIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReenvioAulaAutomatico">
    <wsdl:port name="BasicHttpBinding_IReenvioAulaAutomatico" binding="tns:BasicHttpBinding_IReenvioAulaAutomatico">
      <soap:address location="http://localhost:55499/ReenvioAulaAutomatico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>