ProIntegracao.Model/Service References/ReenvioAula/ReenvioAulaAutomatico1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExecutarReenvio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutarReenvioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioAulaIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgenda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioAulaIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvioAulaIntegracaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarAulaIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAgenda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarAulaIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelarAulaIntegracaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>